.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.clearfix {
    *zoom: 1;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: 0%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: 0%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*! normalize.css v1.1.3 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}.our-sharedata{display:block;height:50px}.our-sharedata .hidden{display:none}.our-sharedata .share-count{text-decoration:none;display:inline-block;border:1px solid #ccc;line-height:14px;font-size:11px;color:#555;font-weight:normal;text-align:center;width:100%;padding:2px 0;position:relative;border-radius:2px;top:3px;background:#fff}.our-sharedata .share-count:before{content:'';position:absolute;top:-10px;left:50%;margin-left:-5px;display:block;height:0;width:0;border:5px solid transparent;border-bottom-color:#ccc;font-size:0;line-height:0}.our-sharedata .share-count:after{content:'';position:absolute;top:-8px;left:50%;margin-left:-5px;display:block;height:0;width:0;border:5px solid transparent;border-bottom-color:#fff;font-size:0;line-height:0}.our-share-item{display:inline-block;position:relative;margin-right:6px;width:30px;float:left}.our-share-item .share-icon{width:100%;height:26px;display:inline-block;position:relative;-moz-border-radius:3px;border-radius:3px;border:1px solid #ccc;background:#f3f3f3;-webkit-box-shadow:inset 0 1px 1px #fff;box-shadow:inset 0 1px 1px #fff}.our-share-item .share-icon i{background:url('//cdn.srsvc.com/root/img/social/share-icons-6.png') 0 -30px no-repeat;width:18px;height:18px;display:inline-block;position:absolute;top:50%;left:50%;margin-top:-9px;margin-left:-9px}.our-share-item:hover .share-icon{-webkit-box-shadow:inset 0 1px 1px rgba(250,250,250,.5);box-shadow:inset 0 1px 1px rgba(250,250,250,.5)}.our-share-item:last-child{margin-right:0}.facebook .share-icon i{background-position:0 0}.twitter .share-icon i{background-position:0 -20px}.vkontakte .share-icon i{background-position:0 -39px}.odnoklassniki .share-icon i{background-position:0 -60px}.google-plus .share-icon i{background-position:0 -100px}.our-share-item:hover i{background-image:url('//cdn.srsvc.com/root/img/social/share-icons-6-on.png')}.vkontakte:hover .share-icon{background:#547cad;border-color:#3a669c}.facebook:hover .share-icon{background:#4f6db1;border-color:#3858a0}.twitter:hover .share-icon{background:#63c4f0;border-color:#49baec}.odnoklassniki:hover .share-icon{background:#f78b08;border-color:#e5820b}.livejurnal:hover .share-icon{background:#38407b}.mailru:hover .share-icon{background:#265e9f}.google-plus:hover .share-icon{background:#c83e2e;border-color:#ab2c1e}.our-sharedata.view-line{height:26px}.our-sharedata.view-line .our-share-item{width:auto;height:26px}.our-sharedata.view-line .share-icon{width:26px;float:left}.our-sharedata.view-line .share-count{width:auto;float:left;padding:2px 5px;margin-left:2px;margin-top:3px}.our-sharedata.view-line .share-count:before{left:-10px;top:50%;margin-top:-5px;border-left-color:#ccc}.our-sharedata.view-line .share-count:after{left:-8px;top:50%;margin-top:-5px;border-left-color:#fff}.our-sharedata.view-sum{height:26px}.our-sharedata.view-sum .share-count{width:auto;float:left;padding:3px 5px;margin-left:4px;margin-top:1px;top:1px;line-height:13px}.our-sharedata.view-sum .share-count:before{left:-6px;top:50%;margin-top:-5px;border-right-color:#ccc;border-bottom-color:transparent}.our-sharedata.view-sum .share-count:after{left:-5px;top:50%;margin-top:-5px;border-right-color:#fff;border-bottom-color:transparent}.our-sharedata.view-sum .our-share-item{width:30px}@font-face {
  font-family: 'Tisa';
  src: url('/fonts/ff-tisa.eot');
  src: url('/fonts/ff-tisa.eot?#iefix') format('embedded-opentype'), url('/fonts/ff-tisa.woff') format('woff'), url('/fonts/ff-tisa.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Tisa';
  src: url('/fonts/ff-tisa-italic.eot');
  src: url('/fonts/ff-tisa-italic.eot?#iefix') format('embedded-opentype'), url('/fonts/ff-tisa-italic.woff') format('woff'), url('/fonts/ff-tisa-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Tisa';
  src: url('/fonts/ff-tisa-bold.eot');
  src: url('/fonts/ff-tisa-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/ff-tisa-bold.woff') format('woff'), url('/fonts/ff-tisa-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: 'Tisa',Helvetica,Arial,sans-serif;*/
  font-size: 14px;
}
a {
  color: #e46f61;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.4;
}
#page {
  height: 100%;
}
@media only screen and (min-width: 768px) {
  #page-header {
    height: 100%;
    float: left;
    width: 30%;
  }
  #page-content {
    height: 100%;
    float: right;
    width: 70%;
    overflow-y: scroll;
  }
}
/*
	header
*/
#brand-image {
  background: url('/img/dumitru-face.jpg') center center no-repeat;
  background-size: cover;
  display: block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: 0px auto;
  border: 2px solid #eee;
}
#brand-title {
  color: #78b74c;
}
#page-header {
  background: #053845;
  color: #d7f4fc;
}
#page-header > .inner {
  padding: 10px;
}
#page-header .header-line {
  padding: 10px;
  text-align: center;
}
#page-header .header-line h4 {
  font-weight: normal;
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
}
#page-header .tags a {
  display: inline-block;
  margin: 0px 2px 2px 0px;
  border-radius: 3px;
  padding: 2px 5px;
  background: #e0e9d7;
}
#page-header .tags a .count {
  display: inline-block;
  padding-left: 5px;
  font-size: 90%;
}
#page-header .tags a .name {
  display: inline-block;
  color: #444444;
}
#page-header .tags a:hover,
#page-header .tags a.active {
  background: #e46f61;
}
#page-header .tags a:hover .count,
#page-header .tags a.active .count {
  color: #ffffff;
}
/*
	content
*/
#page-content {
  background: #fff;
}
#content-nav {
  padding: 10px 16px;
  border-bottom: 1px solid #c6cebd;
}
#content-nav #nav-sections a {
  display: inline-block;
  padding: 6px 16px;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 5px;
  text-decoration: none;
  color: #444444;
}
#content-nav #nav-sections a:hover {
  background: #e0e9d7;
}
#content-nav #nav-sections a.active {
  background: #e46f61;
  color: #ffffff;
}
#content-nav #nav-more {
  float: right;
}
#content-body {
  padding: 6px 16px 20px 16px;
  background: #e0e9d7;
}
/*
  footer
*/
#content-footer {
  border-top: 1px solid #c6cebd;
  font-size: 90%;
  padding: 10px 16px;
  color: #777;
}
.panel {
  background-color: #fff;
  border: 1px solid #c6cebd;
  border-radius: 3px;
}
.panel .panel-title {
  margin: 0px;
  display: block;
  background: #d3e0c7;
  padding: 8px 10px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel .panel-title a {
  color: #444444;
}
.panel .panel-title h1,
.panel .panel-title h2,
.panel .panel-title h3,
.panel .panel-title h4 {
  margin: 0px;
}
.panel .panel-content {
  padding: 6px 10px;
  overflow: hidden;
}
.panel .panel-footer {
  display: block;
  background: #e8eee1;
  padding: 8px 10px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel p,
.panel dl {
  margin: 4px 0px;
}
.panel dl dt {
  font-weight: bold;
}
.panel dl dd {
  margin-left: 20px;
}
.panel a {
  color: #428bca;
}
.list.project .list-item {
  margin-bottom: 20px;
}
.list.project .item h3 sup {
  color: #777777;
}
.list.project .item.alive h3 sup {
  border-bottom: 2px solid #78b74c;
}
.list.project .item.dead h3 sup {
  border-bottom: 2px solid #cb5800;
}
.item-details {
  color: #777777;
}
.post {
  max-width: 700px;
}
.post .post-header h3,
.post .post-header h1 {
  margin-bottom: 10px;
}
.post .post-header h3 {
  background-color: #ffffff;
  padding: 15px 0px 15px 15px;
  position: relative;
  margin-left: -15px;
  border-left: none;
  border-radius: 0px 3px 3px 0px;
}
.post .post-body {
  text-align: justify;
  overflow: hidden;
}
.post .post-body img {
  max-width: 100%;
}
.post .post-body .post-image .image {
  max-width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #d8e4cd;
  background-color: #fff;
}
.post .post-body .post-image .caption {
  margin: 6px 0px;
  color: #777777;
  text-align: center;
  font-weight: normal;
}
.post .post-footer {
  margin: 10px 0px;
}
.post .post-footer .tags {
  border-radius: 3px;
  background: #cbd2c3;
  display: inline-block;
}
.post .post-footer .tags a {
  display: inline-block;
  padding: 6px 12px;
  color: #444444;
  text-decoration: none;
  border-right: 1px solid #e0e9d7;
  float: left;
}
.post .post-footer .tags a:hover {
  background: #78b74c;
  color: #ffffff;
}
.post .post-footer .tags a:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.post .post-footer .tags a:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.post .post-footer .our-sharedata {
  float: right;
}
#post-comments {
  max-width: 700px;
}
#next-prev {
  margin: 25px 0px 10px 0px;
  height: 28px;
  overflow: hidden;
  max-width: 700px;
}
#next-prev a {
  display: inline-block;
  max-width: 45%;
  color: #444444;
  background-color: #edf2e7;
  border-radius: 3px;
  padding: 4px 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#next-prev a.next {
  float: right;
}
#project-page {
  max-width: 700px;
}
#project-page .state em {
  font-weight: bold;
}
#project-page.alive .state em {
  color: #78b74c;
}
#project-page.dead .state em {
  color: #cb5800;
}
#project-page #project-header {
  margin-bottom: 20px;
}
#project-page #project-header h1 {
  margin-bottom: 0px;
}
#project-page #project-header h1 sup {
  font-weight: normal;
}
#project-page #project-header .details {
  color: #777777;
}
#project-page .project-details {
  display: block;
  float: left;
  margin: 12px 20px 20px 0px;
  font-size: 90%;
  width: 200px;
}
#project-page .project-details .media {
  background-color: #fff;
  padding: 3px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 200px;
  height: 200px;
}
#project-page .project-details .media img {
  width: 100%;
  height: 100%;
}
#project-page .project-details .our-sharedata {
  margin-top: 10px;
  margin-left: 28px;
}
#project-page #project-body {
  padding-bottom: 20px;
}
#project-page .project-content {
  text-align: justify;
}
.our-sharedata{display:block;height:50px}.our-sharedata .hidden{display:none}.our-sharedata .share-count{text-decoration:none;display:inline-block;border:1px solid #ccc;line-height:14px;font-size:11px;color:#555;font-weight:normal;text-align:center;width:100%;padding:2px 0;position:relative;border-radius:2px;top:3px;background:#fff}.our-sharedata .share-count:before{content:'';position:absolute;top:-10px;left:50%;margin-left:-5px;display:block;height:0;width:0;border:5px solid transparent;border-bottom-color:#ccc;font-size:0;line-height:0}.our-sharedata .share-count:after{content:'';position:absolute;top:-8px;left:50%;margin-left:-5px;display:block;height:0;width:0;border:5px solid transparent;border-bottom-color:#fff;font-size:0;line-height:0}.our-share-item{display:inline-block;position:relative;margin-right:6px;width:30px;float:left}.our-share-item .share-icon{width:100%;height:26px;display:inline-block;position:relative;-moz-border-radius:3px;border-radius:3px;border:1px solid #ccc;background:#f3f3f3;-webkit-box-shadow:inset 0 1px 1px #fff;box-shadow:inset 0 1px 1px #fff}.our-share-item .share-icon i{background:url('//cdn.srsvc.com/root/img/social/share-icons-6.png') 0 -30px no-repeat;width:18px;height:18px;display:inline-block;position:absolute;top:50%;left:50%;margin-top:-9px;margin-left:-9px}.our-share-item:hover .share-icon{-webkit-box-shadow:inset 0 1px 1px rgba(250,250,250,.5);box-shadow:inset 0 1px 1px rgba(250,250,250,.5)}.our-share-item:last-child{margin-right:0}.facebook .share-icon i{background-position:0 0}.twitter .share-icon i{background-position:0 -20px}.vkontakte .share-icon i{background-position:0 -39px}.odnoklassniki .share-icon i{background-position:0 -60px}.google-plus .share-icon i{background-position:0 -100px}.our-share-item:hover i{background-image:url('//cdn.srsvc.com/root/img/social/share-icons-6-on.png')}.vkontakte:hover .share-icon{background:#547cad;border-color:#3a669c}.facebook:hover .share-icon{background:#4f6db1;border-color:#3858a0}.twitter:hover .share-icon{background:#63c4f0;border-color:#49baec}.odnoklassniki:hover .share-icon{background:#f78b08;border-color:#e5820b}.livejurnal:hover .share-icon{background:#38407b}.mailru:hover .share-icon{background:#265e9f}.google-plus:hover .share-icon{background:#c83e2e;border-color:#ab2c1e}.our-sharedata.view-line{height:26px}.our-sharedata.view-line .our-share-item{width:auto;height:26px}.our-sharedata.view-line .share-icon{width:26px;float:left}.our-sharedata.view-line .share-count{width:auto;float:left;padding:2px 5px;margin-left:2px;margin-top:3px}.our-sharedata.view-line .share-count:before{left:-10px;top:50%;margin-top:-5px;border-left-color:#ccc}.our-sharedata.view-line .share-count:after{left:-8px;top:50%;margin-top:-5px;border-left-color:#fff}.our-sharedata.view-sum{height:26px}.our-sharedata.view-sum .share-count{width:auto;float:left;padding:3px 5px;margin-left:4px;margin-top:1px;top:1px;line-height:13px}.our-sharedata.view-sum .share-count:before{left:-6px;top:50%;margin-top:-5px;border-right-color:#ccc;border-bottom-color:transparent}.our-sharedata.view-sum .share-count:after{left:-5px;top:50%;margin-top:-5px;border-right-color:#fff;border-bottom-color:transparent}.our-sharedata.view-sum .our-share-item{width:30px}