
@import "variables.less";
@import "mixins.less";

.panel{
  background-color: #fff;
  border:1px solid @simple-color;
  .border-radius(3px);

  .panel-title{
    margin: 0px;
    display: block;
    background: darken(@simple-back-color,5%);
    padding: 8px 10px;
    .border-top-radius(2px);

    a{
      color: @text-color;
    }
    h1,h2,h3,h4{
      margin: 0px;
    }
  }

  .panel-content{
    padding: 6px 10px;
    overflow: hidden;
  }

  .panel-footer{
    display: block;
    background: lighten(@simple-back-color,3%);
    padding: 8px 10px;
    .border-bottom-radius(2px);
  }

  p,dl{
    margin: 4px 0px;
  }
  dl dt{
    font-weight: bold;
  }
  dl dd{
    margin-left: 20px;
  }

  a{
    color: @a-color;
  }
}

.list.project{
  .list-item{
    margin-bottom: 20px;
  }
  .item{
    h3{
      sup{
        color:@simple-text-color;
      }
    }

    &.alive{
      h3 sup{
        border-bottom: 2px solid @green-color;
      }
    }
    &.dead{
      h3 sup{
        border-bottom: 2px solid @red-color;
      }
    }
  }
}

.item-details{
  color:@simple-text-color;
}