
@import "variables.less";
@import "mixins.less";

.post{
  max-width: 700px;

  .post-header{

    h3,h1{
      margin-bottom: 10px;
    }
    h3{
      background-color: lighten(@simple-back-color, 15%);
      padding: 15px 0px 15px 15px;
      position: relative;
      margin-left: -15px;
      border-left: none;
      border-radius: 0px 3px 3px 0px;
    }
  }

  .post-body{
    text-align: justify;
    overflow: hidden;
    img{
      max-width: 100%;
    }
    .post-image{
      
      .image{
        max-width: 100%;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid darken(@simple-back-color, 3%);
        background-color: #fff;
      }
      .caption{
        margin: 6px 0px;
        color: @simple-text-color;
        text-align: center;
        font-weight: normal;
      }
    }
  }

  .post-footer{
    margin: 10px 0px;
    .tags{
      border-radius: 3px;
      background: lighten(@simple-color,2%);
      display: inline-block;
      a{
        display: inline-block;
        padding: 6px 12px;
        color: @text-color;
        text-decoration: none;
        border-right: 1px solid @simple-back-color;
        float: left;
        //.box-shadow(inset -5px -5px 5px #888);

        &:hover{
          background: @green-color;
          color: @green-color-on;
        }
        &:first-child{
          .border-left-radius(3px);
        }
        &:last-child{
          .border-right-radius(3px);
        }
      }
    }

    .our-sharedata{
      float: right;
    }
  }
}

#post-comments{
  max-width: 700px;
}

#next-prev{
  margin: 25px 0px 10px 0px;
  height: 28px;
  overflow: hidden;
  max-width: 700px;

  a{
    display: inline-block;
    max-width: 45%;
    color: @text-color;
    background-color: lighten(@simple-back-color, 5%);
    border-radius: 3px;
    padding: 4px 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a.next{
    float: right;
  }
}