@header-color: #053845;
@header-color-on: #e4f8fd;

@text-color: #444;
@primary-color: #e46f61;//#0da0c4;
@accent-color: #e46f61;
@accent-color-on: #fff;

@simple-back-color: #f5f5f3;

@second-color: #95b464;
@second-color-on: #f3f6ed;